[Container]
Image=docker.io/klakegg/hugo:ext-alpine
ContainerName=hugo-server
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=1313:1313
Volume=/path/to/website:/src:z

Exec=server --poll 700ms

[Service]
Restart=on-success

[Install]
WantedBy=default.target
