[Unit]
Description=Static website generator (build version)
Documentation=https://gohugo.io/
Documentation=https://github.com/klakegg/docker-hugo#using-image

[Container]
Image=docker.io/klakegg/hugo:ext-alpine
ContainerName=hugo-build
AutoUpdate=registry
#Notify=true
LogDriver=journald

Volume=/path/to/website:/src:z

[Service]
Restart=no
