[Unit]
Description=Distributed SCM
Documentation=https://fossil-scm.org/
Documentation=https://hub.docker.com/r/nijtmans/fossil

[Container]
Image=docker.io/nijtmans/fossil:latest
ContainerName=fossil
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=8080:8080

Volume=/path/to/your/repo:/museum:z

[Service]
Restart=on-success

[Install]
WantedBy=default.target
