[Unit]
Description=Matrix server
Documentation=https://github.com/element-hq/synapse
Documentation=https://element-hq.github.io/synapse/latest/setup/installation.html#docker-images-and-ansible-playbooks
Documentation=https://github.com/element-hq/synapse/tree/develop/contrib/docker

[Container]
Image=docker.io/matrixdotorg/synapse
ContainerName=synapse
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=8008:8008
Volume=./data:/data:z

UserNS=keep-id

Network=synapsenet.network

[Service]
Restart=on-success

[Install]
WantedBy=default.target
