[Unit]
Description=Project management web dashboard
Documentation=https://www.focalboard.com/
Documentation=https://github.com/mattermost-community/focalboard#building-and-running-standalone-desktop-apps

[Container]
Image=docker.io/mattermost/focalboard:latest
ContainerName=focalboard
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=8000:8000

[Service]
Restart=on-success

[Install]
WantedBy=default.target
