[Unit]
Description=Single-user Markdown notetaking server
Documentation=https://silverbullet.md/
Documentation=https://silverbullet.md/Install/Docker

[Container]
Image=docker.io/zefhemel/silverbullet:latest
ContainerName=silverbullet
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=3000:3000

Environment=SB_USER=yourusername:yourpassword

Volume=silverbullet-space:/space:rw,Z

UserNS=keep-id

[Service]
Restart=on-success

[Install]
WantedBy=default.target
