[Container]
Image=docker.io/kanboard/kanboard
ContainerName=kanboard
AutoUpdate=registry
#Notify=true

PublishPort=8080:80

Volume=kanboard-data:/var/www/app/data
Volume=kanboard-plugins:/var/www/app/plugins
Volume=kanboard-ssl:/etc/nginx/ssl

Environment=PLUGIN_INSTALLER=false

[Service]
Restart=on-success
