[Unit]
Description=Kanban-style project management software
Documentation=https://kanboard.org/
Documentation=https://docs.kanboard.org/v1/admin/docker/

[Container]
Image=docker.io/kanboard/kanboard:latest
ContainerName=kanboard
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=8080:80

Volume=kanboard-data:/var/www/app/data
Volume=kanboard-plugins:/var/www/app/plugins
Volume=kanboard-ssl:/etc/nginx/ssl

Environment=PLUGIN_INSTALLER=false

[Service]
Restart=on-success

[Install]
WantedBy=default.target
