[Unit]
Description=Collaborative web office suite
Documentation=https://www.onlyoffice.com/
Documentation=https://helpcenter.onlyoffice.com/docs/installation/docs-community-install-docker.aspx

[Container]
Image=docker.io/onlyoffice/documentserver:latest
ContainerName=onlyoffice
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=1888:80
Environment=JWT_SECRET=tokenhere

[Service]
Restart=on-success

[Install]
WantedBy=default.target
