[Container]
Image=ghcr.io/girlbossceo/conduwuit:latest
ContainerName=conduwuit
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=8448:6167

Volume=conduwuit-db:/var/lib/conduwuit/
# Volume=./conduwuit.toml:/etc/conduwuit.toml

Environment=CONDUWUIT_ADDRESS=0.0.0.0
Environment=CONDUWUIT_SERVER_NAME=conduwuit.example.com
Environment=CONDUWUIT_PORT=6167
Environment=CONDUWUIT_ALLOW_REGISTRATION=true
Environment=CONDUWUIT_REGISTRATION_TOKEN=generatedTokenHere
Environment=CONDUWUIT_DATABASE_PATH=/var/lib/conduwuit
# Environment=CONDUWUIT_ALLOW_FEDERATION=true

[Service]
Restart=on-success

[Install]
WantedBy=default.target
