[Container]
Image=docker.io/mediawiki
ContainerName=mediawiki
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=8080:80
Volume=mediawiki-images:/var/www/html/images:Z
#Volume=/path/to/LocalSettings.php:/var/www/html/LocalSettings.php:Z

Network=mediawikinet.network

[Service]
Restart=on-success

[Unit]
Wants=mediawiki-db.service
