[Container]
Image=docker.io/mariadb
ContainerName=mediawiki-db
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=3306:3306
Volume=mediawiki-db:/var/lib/mysql:Z

Environment=MYSQL_DATABASE=mediawiki
Environment=MYSQL_RANDOM_ROOT_PASSWORD=yes
Environment=MYSQL_USER=mediawiki-user
Environment=MYSQL_PASSWORD=mediawiki-pass

Network=mediawikinet.network

[Service]
Restart=on-success

[Install]
WantedBy=default.target
WantedBy=mediawiki.service

[Unit]
BindsTo=mediawiki.service
