[Unit]
Description=Web server and reverse proxy with automatic HTTPS
Documentation=https://caddyserver.com/
Documentation=https://hub.docker.com/_/caddy

[Container]
Image=docker.io/caddy:latest
ContainerName=caddy
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=443:443
PublishPort=80:80
# PublishPort=2019:2019

Volume=./Caddyfile:/etc/caddy/Caddyfile:ro,Z
# Volume=/path/to/site:/srv:z

Volume=caddy-data:/data:Z
Volume=caddy-config:/config:Z

Network=caddynet.network

[Service]
Restart=on-success

[Install]
WantedBy=default.target
