[Unit]
Description=Managed link page for profile bios
Documentation=https://linkstack.org/
Documentation=https://linkstack.org/docker/
Documentation=https://github.com/linkstackorg/linkstack-docker

[Container]
Image=docker.io/linkstackorg/linkstack:latest
ContainerName=linkstack
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=8080:80
PublishPort=4443:443
Volume=linkstack:/htdocs:Z

#Environment=SERVER_ADMIN=you@example.com
#Environment=HTTP_SERVER_NAME=localhost
#Environment=HTTPS_SERVER_NAME=localhost
#Environment=LOG_LEVEL=info
#Environment=TZ=UTC
#Environment=PHP_MEMORY_LIMIT=256M
#Environment=UPLOAD_MAX_FILESIZE=8M

[Service]
Restart=on-success

[Install]
WantedBy=default.target
