[Unit]
Description=Web Matrix chat client
Documentation=https://element.io/
Documentation=https://github.com/element-hq/element-web
Documentation=https://github.com/element-hq/element-web/blob/develop/docs/install.md#docker

[Container]
Image=docker.io/vectorim/element-web:latest
ContainerName=element
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=8080:80

Volume=./config.json:/app/config.json:ro,Z

[Service]
Restart=on-success

[Install]
WantedBy=default.target
