[Unit]
Description=Collaborative web text editor
Documentation=https://rustpad.io
Documentation=https://github.com/ekzhang/rustpad#deployment

[Container]
Image=docker.io/ekzhang/rustpad
ContainerName=rustpad
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=3030:3030

[Service]
Restart=on-success

[Install]
WantedBy=default.target
