[Container]
Image=docker.io/gitea/gitea
ContainerName=gitea
AutoUpdate=registry
#Notify=true

PublishPort=3000:3000
PublishPort=2222:2222
Volume=gitea-data:/var/lib/gitea:Z
Volume=gitea-config:/etc/gitea:Z

[Service]
Restart=on-success

