[Container]
Image=docker.io/deluan/navidrome
ContainerName=navidrome
AutoUpdate=registry
#Notify=true

PublishPort=4533:4533
Volume=navidrome-data:/data:z
Volume=/path/to/your/music:/music:ro,z

[Service]
Restart=on-success
