[Container]
Image=docker.io/matrixdotorg/synapse
ContainerName=synapse-generate
AutoUpdate=registry
#Notify=true

PublishPort=8008:8008
Volume=synapse-data:/data:z

Environment=SYNAPSE_SERVER_NAME=matrix.example.com
Environment=SYNAPSE_REPORT_STATS=no
# Environment=SYNAPSE_HTTP_PORT=8008

UserNS=keep-id

Exec=generate

[Service]
Restart=no
