[Container]
Image=docker.io/matrixdotorg/synapse
ContainerName=synapse
AutoUpdate=registry
Notify=true

PublishPort=8008:8008
Volume=synapse-data:/data:z

UserNS=keep-id

[Service]
Restart=on-success
