[Container]
Image=docker.io/redis:latest
ContainerName=weblate-redis
AutoUpdate=registry
#Notify=true
LogDriver=journald

Volume=redis-data:/data:Z

Network=weblate.network

[Service]
Restart=on-success

[Install]
WantedBy=default.target
WantedBy=weblate.service

[Unit]
BindsTo=weblate.service
