[Container]
Image=docker.io/postgres:alpine
ContainerName=weblate-postgres
AutoUpdate=registry
#Notify=true

Environment=POSTGRES_USER=weblate
Environment=POSTGRES_PASSWORD=weblate
Environment=POSTGRES_DB=weblate
Environment=POSTGRES_HOST=weblate-postgres

PublishPort=5432:5432

Volume=postgres-data:/var/lib/postgresql/data:Z

Network=weblatenet.network

[Service]
Restart=on-success

[Install]
WantedBy=default.target
WantedBy=weblate.service

[Unit]
BindsTo=weblate.service
