[Container]
Image=docker.io/matrixdotorg/synapse
ContainerName=synapse

PublishPort=8008:8008
Volume=synapse-data:/data:z

Environment=SYNAPSE_SERVER_NAME=synapse.example.com
Environment=SYNAPSE_REPORT_STATS=no
# Environment=SYNAPSE_HTTP_PORT=8008

[Service]
Restart=on-success
