[Container]
Image=docker.io/adrianhesketh/gemini:latest
ContainerName=gemini

AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=1965:1965
Volume=./content:/content:ro
Volume=./certs:/certs:ro

Environment=DOMAIN=localhost

UserNS=keep-id

[Install]
WantedBy=default.target
