[Unit]
Description=WebRTC virtual browser
Documentation=https://neko.m1k1o.net/
Documentation=https://neko.m1k1o.net/docs/v3/installation

[Container]
Image=ghcr.io/m1k1o/neko/firefox:latest
ContainerName=neko
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=8080:8080
PublishPort=52000-52100:52000-52100/udp

Environment=NEKO_NAT1TO1=yourIP

Environment=NEKO_DESKTOP_SCREEN=1920x1080@30
Environment=NEKO_MEMBER_MULTIUSER_USER_PASSWORD=neko
Environment=NEKO_MEMBER_MULTIUSER_ADMIN_PASSWORD=admin
Environment=NEKO_WEBRTC_EPR=52000-52100
Environment=NEKO_WEBRTC_ICELITE=1

[Service]
Restart=on-success

[Install]
WantedBy=default.target
