[Container]
Image=docker.io/gitlab/gitlab-ce
ContainerName=gitlab
HostName=example.com

PublishPort=4443:443
PublishPort=8080:80
PublishPort=2222:22
Volume=gitlab-config:/etc/gitlab:Z
Volume=gitlab-logs:/var/log/gitlab:Z
Volume=gitlab-data:/var/opt/gitlab:Z

User=root
Group=root
UserNS=keep-id

[Service]
Restart=on-success
