[Container]
Image=docker.io/gitlab/gitlab-runner:alpine
ContainerName=gitlab-runner
AutoUpdate=registry
#Notify=true
LogDriver=journald

Volume=/run/user/1000/podman/podman.sock:/var/run/docker.sock:z
Volume=gitlab-runner-config:/etc/gitlab-runner:Z

Network=gitlab.network

[Service]
Restart=on-success

[Install]
WantedBy=default.target
WantedBy=gitlab.service

[Unit]
BindsTo=gitlab.service
