[Container]
Image=docker.io/superseriousbusiness/gotosocial
ContainerName=gotosocial

Volume=gotosocial-data:/gotosocial/storage

PublishPort=8080:8080

Environment=GTS_HOST=example.com
Environment=GTS_DB_TYPE=sqlite
Environment=GTS_DB_ADDRESS=/gotosocial/storage/sqlite.db
Environment=GTS_LETSENCRYPT_ENABLED="false"
#Environment=GTS_LETSENCRYPT_EMAIL_ADDRESS=""
#Environment=GTS_TRUSTED_PROXIES="172.x.x.x"
#Environment=TZ=UTC

UserNS=keep-id

[Service]
Restart=on-success
