[Container]
Image=docker.io/bpatrik/pigallery2:latest
ContainerName=pigallery2
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=8080:80
Volume=/path/to/media:/app/data/images:ro,z
Volume=pigallery2-config:/app/data/config:Z
Volume=pigallery2-data:/app/data/db:Z
Volume=pigallery2-tmp:/app/data/tmp:Z

[Service]
Restart=on-success

[Install]
WantedBy=default.target
