[Container]
Image=ghcr.io/docker-mailserver/docker-mailserver
ContainerName=dockermailserver
AutoUpdate=registry
#Notify=true

HostName=mail.example.com

PublishPort=2525:25
PublishPort=4654:465
PublishPort=5875:587
PublishPort=9939:993

Volume=mail-data:/var/mail/
Volume=mail-state:/var/mail-state/
Volume=mail-logs:/var/log/mail/
Volume=mail-config:/tmp/docker-mailserver/

Environment=ENABLE_RSPAMD=1
Environment=ENABLE_CLAMAV=1
Environment=ENABLE_FAIL2BAN=1

[Service]
Restart=on-success
