[Container]

#Actually should build instead of using image?
#    build:
#      context: ../
#      dockerfile: docker/Dockerfile
#        args:
#          RUST_RELEASE_MODE: release
#          CARGO_BUILD_FEATURES: default

Image=docker.io/dessalines/lemmy:0.19.0-rc.6
ContainerName=lemmy
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=10002:10002

Environment=RUST_LOG="warn,lemmy_server=debug,lemmy_api=debug,lemmy_api_common=debug,lemmy_api_crud=debug,lemmy_apub=debug,lemmy_db_schema=debug,lemmy_db_views=debug,lemmy_db_views_actor=debug,lemmy_db_views_moderator=debug,lemmy_routes=debug,lemmy_utils=debug,lemmy_websocket=debug"
Environment=RUST_BACKTRACE=full

HostName=lemmy

Volume=/path/to/lemmy.hjson:/config/config.hjson:Z

Network=lemmynet.network

[Service]
Restart=on-success
After=lemmy-db.service
After=lemmy-pictrs.service


[Install]
WantedBy=default.target
