[Container]
Image=docker.io/postgres:15-alpine
ContainerName=lemmy-db
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=5432:5432

Environment=POSTGRES_USER=lemmy
Environment=POSTGRES_PASSWORD=password
Environment=POSTGRES_DB=lemmy

HostName=postgres

Volume=postgres:/var/lib/postgresql/data:Z

Exec="postgres -c session_preload_libraries=auto_explain -c auto_explain.log_min_duration=5ms -c auto_explain.log_analyze=true -c track_activity_query_size=1048576"

[Service]
Restart=on-success

[Install]
WantedBy=default.target
