[Container]
Image=docker.io/asonix/pictrs:0.4.0-beta.19
ContainerName=lemmy-pictrs
AutoUpdate=registry
Notify=true

Environment=PICTRS_OPENTELEMETRY_URL=http://otel:4137
Environment=PICTRS__API_KEY=API_KEY
Environment=RUST_LOG=debug
Environment=RUST_BACKTRACE=full
Environment=PICTRS__MEDIA__VIDEO_CODEC=vp9
Environment=PICTRS__MEDIA__GIF__MAX_WIDTH=256
Environment=PICTRS__MEDIA__GIF__MAX_HEIGHT=256
Environment=PICTRS__MEDIA__GIF__MAX_AREA=65536
Environment=PICTRS__MEDIA__GIF__MAX_FRAME_COUNT=400

HostName=pictrs

Volume=pictrs:/mnt:Z

UserNS=keep-id:uid=991,gid=991

[Service]
Restart=on-success

