[Unit]
Description=Forum server designed for Q&A
Documentation=https://answer.apache.org/
Documentation=https://answer.apache.org/docs/installation?method=docker

[Container]
Image=docker.io/apache/answer:latest
ContainerName=answer
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=9080:80

Volume=answer-data:/data:Z

[Service]
Restart=on-success

[Install]
WantedBy=default.target
