[Container]
Image=docker.io/qmcgaw/ddns-updater
ContainerName=ddns-updater
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=8000:8000

Volume=./data:/updater/data:Z

UserNS=keep-id

[Service]
Restart=on-success

[Install]
WantedBy=default.target
