[Container]
Image=docker.io/portainer/portainer-ce:alpine
ContainerName=portainer
AutoUpdate=registry
Notify=true

PublishPort=9443:9443
PublishPort=9000:9000
Volume=/run/user/1000/podman/podman.sock:/var/run/docker.sock:Z

[Service]
Restart=on-success
