[Unit]
Description=Issue management tracker
Documentation=https://peppermint.sh/
Documentation=https://docs.peppermint.sh/docker

[Container]
Image=docker.io/pepperlabs/peppermint:latest
ContainerName=peppermint
AutoUpdate=registry
#Notify=true
LogDriver=journald

Environment=DB_USERNAME=peppermint
Environment=DB_PASSWORD=1234
Environment=DB_HOST=peppermint-postgres
Environment=SECRET=peppermint4life

PublishPort=3000:3000
PublishPort=5003:5003

Network=peppermintnet.network

[Service]
Restart=on-success

[Unit]
Requires=peppermint-postgres.service
After=peppermint-postgres.service

[Install]
WantedBy=default.target
