[Container]
Image=docker.io/postgres:latest
ContainerName=peppermint-postgres
AutoUpdate=registry
#Notify=true
LogDriver=journald

Environment=POSTGRES_USER=peppermint
Environment=POSTGRES_PASSWORD=1234
Environment=POSTGRES_DB=peppermint

PublishPort=5432:5432

Volume=pgdata:/var/lib/postgresql/data:Z

Network=peppermint.network

[Service]
Restart=on-success

[Install]
WantedBy=default.target
WantedBy=peppermint.service

[Unit]
BindsTo=peppermint.service
