[Unit]
Description=Web interface for Synapse administration
Documentation=https://github.com/etkecc/synapse-admin
Documentation=https://github.com/etkecc/synapse-admin#steps-for-3

[Container]
Image=ghcr.io/etkecc/synapse-admin:latest
ContainerName=synapse-admin
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=8080:80

[Service]
Restart=on-success

[Install]
WantedBy=default.target
