[Container]
Image=docker.io/postgres:alpine
ContainerName=peertube-db
AutoUpdate=registry
#Notify=true
LogDriver=journald

Volume=peertube-db:/var/lib/postgresql/data:z

EnvironmentFile=env

Network=peertubenet.network

[Service]
Restart=on-success

[Unit]
PartOf=peertube.service

[Install]
WantedBy=default.target
WantedBy=peertube.service
