[Unit]
Description=Decentralized video hosting federated across the Fediverse
Documentation=https://joinpeertube.org/
Documentation=https://docs.joinpeertube.org/install/docker

[Container]
Image=docker.io/chocobozzz/peertube:production-bookworm
ContainerName=peertube
AutoUpdate=registry
HostName=localhost
#Notify=true
LogDriver=journald

PublishPort=9000:9000
#PublishPort=1935:1935 # If you need live functionality
Volume=peertube-data:/data:z
Volume=peertube-config:/config:z

EnvironmentFile=env

Network=peertubenet.network

[Unit]
Requires=peertube-db.service peertube-redis.service

[Service]
Restart=on-success
TimeoutStartSec=900

[Install]
WantedBy=default.target
