[Container]
Image=docker.io/mongo:latest
ContainerName=wekan-db
AutoUpdate=registry
#Notify=true
LogDriver=journald

Network=wekan.network

[Service]
Restart=on-success

[Install]
WantedBy=default.target
WantedBy=wekan.service

[Unit]
BindsTo=wekan.service
