[Container]
Image=docker.io/mongo
ContainerName=wekan-db
AutoUpdate=registry
#Notify=true
LogDriver=journald

Network=wekannet.network

[Service]
Restart=on-success

[Install]
WantedBy=default.target
