[Unit]
Description=Microblogging-like Markdown note-taking app
Documentation=https://www.usememos.com/
Documentation=https://www.usememos.com/docs/installation/docker

[Container]
Image=docker.io/neosmemo/memos:latest
ContainerName=memos
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=5230:5230

Environment=MEMOS_MODE=prod
# Environment=MEMOS_DRIVER=sqlite
Volume=/path/to/memos:/var/opt/memos:Z

[Service]
Restart=on-success

[Install]
WantedBy=default.target
