[Container]
Image=docker.io/redis:alpine
ContainerName=firefish-redis
AutoUpdate=registry
Notify=true

Network=firefishnet.network
Volume=firefish-cache:/data:Z

[Service]
Restart=on-success
