[Container]
Image=docker.io/redis:alpine
ContainerName=firefish-redis
AutoUpdate=registry
#Notify=true
LogDriver=journald

Network=firefishnet.network
Volume=firefish-cache:/data:Z

[Service]
Restart=on-success

[Install]
WantedBy=default.target
WantedBy=firefish.service

[Unit]
BindsTo=firefish.service
