[Container]
Image=docker.io/postgres:alpine
ContainerName=firefish-db
AutoUpdate=registry
#Notify=true
LogDriver=journald

EnvironmentFile=/path/to/firefish.env
Network=firefishnet.network
Volume=firefish-data:/var/lib/postgresql/data:Z

[Service]
Restart=on-success

[Install]
WantedBy=default.target
WantedBy=firefish.service
