[Container]
Image=registry.joinfirefish.org/firefish/firefish
ContainerName=firefish-web
AutoUpdate=registry
#Notify=true
LogDriver=journald

Environment=NODE_ENV=production
Network=firefishnet.network
PublishPort=3000:3000
Volume=firefish-files:/firefish/files:Z
Volume=/path/to/default.yml:/firefish/.config/default.yml:ro,Z

[Unit]
Requires=firefish-db.service firefish-redis.service

[Service]
Restart=on-success

[Install]
WantedBy=default.target
