[Unit]
Description=Web interface for downloading YouTube videos
Documentation=https://github.com/alexta69/metube
Documentation=https://github.com/alexta69/metube#run-using-docker

[Container]
Image=ghcr.io/alexta69/metube:latest
ContainerName=metube
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=8081:8081
Volume=/path/to/downloads:/downloads:Z

# Environment=DEFAULT_THEME=auto # light, dark, auto
# Environment='OUTPUT_TEMPLATE=%(title)s.%(ext)s'
# Environment='YTDL_OPTIONS=optionsforytdlinJSONformat'
# Environment=YTDL_OPTIONS_FILE=ytdl_options.json

[Service]
Restart=on-success

[Install]
WantedBy=default.target
