[Container]
Image=ghcr.io/cinnyapp/cinny
ContainerName=cinny
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=8080:80

Volume=./config.json:/app/config.json:ro,Z

[Service]
Restart=on-success

[Install]
WantedBy=default.target
