[Unit]
Description=Web Matrix chat client
Documentation=https://cinny.in/
Documentation=https://github.com/cinnyapp/cinny#self-hosting

[Container]
Image=ghcr.io/cinnyapp/cinny
ContainerName=cinny
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=8080:80

Volume=./config.json:/app/config.json:ro,Z

[Service]
Restart=on-success

[Install]
WantedBy=default.target
