[Unit]
Description=Web frontend for Twitter/X
Documentation=https://github.com/zedeus/nitter
Documentation=https://github.com/zedeus/nitter#docker

[Container]
Image=docker.io/zedeus/nitter
ContainerName=nitter
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=8080:8080
Volume=/path/to/nitter.conf:/src/nitter.conf:ro,Z

[Service]
Restart=on-success

[Install]
WantedBy=default.target
