[Container]
Image=docker.io/mariadb
ContainerName=writefreely-db

PublishPort=3306:3306
Volume=writefreely-db:/var/lib/mysql/writefreely:Z
Network=writefreelynet.network

Environment=MYSQL_RANDOM_ROOT_PASSWORD=true
Environment=MYSQL_DATABASE=writefreelydb
Environment=MYSQL_USER=writefreely
Environment=MYSQL_PASSWORD=writefreelypass


[Service]
Restart=on-success

[Install]
WantedBy=writefreely-web.service
