[Unit]
Description=Blog writing platform federated across the Fediverse
Documentation=https://writefreely.org/
Documentation=https://docs.kanboard.org/v1/admin/docker/

[Container]
Image=docker.io/writeas/writefreely:latest
ContainerName=writefreely-web
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=8080:8080
Volume=writefreely-keys:/go/keys:Z
Volume=/path/to/config.ini:/go/config.ini:Z
Network=writefreelynet.network

User=daemon
Group=daemon
UserNS=keep-id

[Service]
Restart=on-success

[Unit]
Wants=writefreely-db.service

[Install]
WantedBy=default.target
