[Container]
Image=docker.io/writeas/writefreely
ContainerName=writefreely-generate
AutoUpdate=registry
Notify=true

Volume=/path/to/config.ini:/go/config.ini:Z
Network=writefreelynet.network

User=daemon
Group=daemon
UserNS=keep-id

Exec=config generate

[Service]
Restart=no
